@media (min-width: 700px) {
  header { padding: 0.8rem 2rem; }
  #menu { display: none; }
  nav {
    display: flex;
    flex-direction: row;
    position: static;
    background: transparent;
    border: none;
    gap: 0.5rem;
  }
  nav a {
    border: none;
    border-radius: 6px;
    padding: 0.6rem 1rem;
  }
  .site-logo { height: 55px; }
  main { padding: 2rem; }
  .grid { grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); }
  .hero {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    text-align: left;
    gap: 2rem;
  }
}

@media (min-width: 1024px) {
  .grid { grid-template-columns: repeat(3, 1fr); }
}
